version: "3.9"

services:
  frontend:
    build:
      context: ./user-ui
      dockerfile: .dockerfile
      args:
        VITE_APP_API_URL: http://localhost:8080
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./user-api
      dockerfile: .dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
